.customBtnFile {
    width: 350px;
    max-width: 100%;
    color: #ffffff;
    padding: 5px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    border: 1px solid #555;
}
  
.customBtnFile::file-selector-button {
    margin-right: 20px;
    border: none;
    background: #fa2d42;
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: background .2s ease-in-out;
}

.customBtnFile::file-selector-button:hover {
    background: rgba(255, 45, 66, 0.733);
}

.customInputParam {
    width: 50px;
    color: #ffffff;
    text-align: center;
    padding: 5px;
    background: rgba(150, 150, 150, 0.514);
    border-radius: 10px;
    border: 1px solid #fff3f3;
}

.text-justify {
    text-align: justify;
}

.bg-params {
    --bs-bg-opacity: 0.5;
    background-color: rgba(105, 0, 0 , var(--bs-bg-opacity)) !important;

    .sub-accordion {
        padding: 0;
        --bs-accordion-bg: #f0f0f0;
        --bs-accordion-active-color: #ff0000;
        --bs-accordion-active-bg: #fde6e6;
        
        .accordion-body {
            background: #ffffff;
        }
    }
}

.instruction-text {
    width: 100%;
    padding: 10px;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    border: 1px solid #555;
}

.instruction-text::placeholder {
    color: rgba(231, 231, 231, 0.808)
}
